@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ffffff;
  --bg-card: #f8f8f8;
  --bg-card2: #f0f0f0;
  --text: #0c0c0f;
  --text-muted: #6b7280;
  --border: #e5e7eb;
}

.dark {
  --bg: #0c0c0f;
  --bg-card: #161618;
  --bg-card2: #1e1e21;
  --text: #f1f5f9;
  --text-muted: #6b7280;
  --border: #ffffff0f;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  transition: background 0.2s, color 0.2s;
}

html {
  scroll-behavior: smooth;
}
